* {
	border: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family:'Alegreya Sans SC', sans-serif;
	color: black;
}

footer {
	font-family:'Libre Barcode 39 Text', cursive;
}

h1, h2 {
	font-family: 'Flamenco', cursive;
}

nav {
	font-family: 'Flamenco', cursive;
}

section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.border-card {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border-card:hover {
  border: 1px solid #fff;
}
.card-project {
  height: 379px;
  width: 290px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  position: relative;
  display: block;
}

.card {
	height: 379px;
	width: 300px;
	background: #808080;
	border-radius: 10px;
	transition: background 0.8s;
	overflow: hidden;
	background: #000;
	box-shadow: 0 70px 63px -60px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.inside-border {
	height: 369px;
  	width: 280px;
	background: transparent;
	border-radius: 10px;
	transition: border 0.8s;
	position: relative;
}

.inside-border:hover {
	border: 1px solid #fff;
}

.card h5 {
	font-family: 'Flamenco', cursive;
	color: #fff;
	margin: 20px;
	opacity: 0;
	transition: opacity 0.8s;
}

.card0 {
	background: url("https://i.imgur.com/OZDDbuS.png") center center no-repeat;
	background-size: 300px;
}

.card0:hover {
	background: url("https://i.imgur.com/OZDDbuS.png") left bottom no-repeat;
  	background-size: 500px;
}
.card0:hover h5 {
	opacity: 1;
	color: white;
	margin-top: 307px;
	text-align: right;
}

.card0:hover .fab {
  opacity: 1;
}

.card1 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5229c0115726109.6053ac169acb6.png") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  bac1ground: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5229c0115726109.6053ac169acb6.png") center top no-repeat;
  background-size: 500px;
}
.card1:hover h5 {
  opacity: 1;
  color: black;
  text-align: center;
  margin-top: 20px;
}
.card1:hover .fab {
  opacity: 1;
  color: black;
}

.card2 {
  background: url("https://i.imgur.com/IrR1wdc.png") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("https://i.imgur.com/IrR1wdc.png") right bottom no-repeat;
  background-size: 450px;
}
.card2:hover h5 {
  opacity: 1;
  margin-top: 310px;
  text-align: right;
}
.card2:hover .fab {
  opacity: 1;
}

.card3 {
  background: url("https://i.imgur.com/FYVSDKM.jpg") center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url("https://i.imgur.com/FYVSDKM.jpg") center center no-repeat;
  background-size: 500px;
}
.card3:hover h5 {
  opacity: 1;
}

.card3:hover .fab {
  opacity: 1;
  color: black;
}

.card4 {
  background: url("https://i.imgur.com/mseUWsl.png") center center no-repeat;
  background-size: 300px;
}
.card4:hover {
  background: url("https://i.imgur.com/mseUWsl.png") left top no-repeat;
  background-size: 500px;
}
.card4:hover h5 {
  opacity: 1;
  color: black;
  margin-top: 220px;
  margin-left: 12px;
}

.card4:hover .fab {
  opacity: 1;
  color: black;
}

.card5 {
  background: url("https://i.imgur.com/1jl0vTs.png") center center no-repeat;
  background-size: 300px;
}
.card5:hover {
  background: url("https://i.imgur.com/1jl0vTs.png") left top no-repeat;
  background-size: 500px;
}
.card5:hover h5 {
  opacity: 1;
  color: black;
  margin-top: 250px;
}

.card5:hover .fab {
  opacity: 1;
  color: black;
}

.fab-card {
  opacity: 0;
  transition: opacity 1s;
  color: #fff;
}

.cellphone {
	font-size: 2rem;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 80px;
  top: 295px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-contact {
	color: #000;
	font-size: 2.5rem;
}

.nav-link {
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    position: relative;
	transition: 0.30s ease-in-out 0s;
}

.nav-link:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c3c4dc, #b09fd0, #a285c4, #e4dbe6, #a3b3d3, #939dbc);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

.nav-link:hover {
	transform: scale(1.1) translateY(5%);
}

.social-red-icon {
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    position: relative;
    transition: 0.30s;
}

.social-red-icon:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #d07ec0, #19313f, #884b85, #523961, #a363a4, #b03b87);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

.social-red-icon:hover {
	background-color: linear-gradient(45deg, #d07ec0, #19313f, #884b85, #523961, #a363a4, #b03b87);
	transform: scale(1.1) translateY(5%);
} 

.title {
	color: #f8f8ff;
	padding-top: 6rem;
	text-shadow: 5px -5px #000;
}

.description {
	color: #f8f8ff;
	text-shadow: 5px -5px #000;
}

.title-about {
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    position: relative;
}

.title-about:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c3c4dc, #b09fd0, #a285c4, #e4dbe6, #a3b3d3, #939dbc);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

.about-me {
	text-align: justify;
}

.profile {
	max-width: 70%;
	border-radius: 350px;
}

.title-projects {
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    position: relative;
}

.title-projects:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c3c4dc, #b09fd0, #a285c4, #e4dbe6, #a3b3d3, #939dbc);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

.title-contact {
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    position: relative;
}

.title-contact:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c3c4dc, #b09fd0, #a285c4, #e4dbe6, #a3b3d3, #939dbc);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

#welcome-section {
	background-image: url("https://cdn.pixabay.com/photo/2016/05/22/20/13/background-1409125_960_720.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	padding-top: 100px;
}


